<h1>Homepage</h1>

<h2>Blog Posts</h2>
<% @posts.each do |posts2| %>
<p> <%= posts2.title %> </p>
<p> <%= posts2.body %> </p>

<% end %>



<h2>Skills</h2>
<% @skills.each do |skills2| %>
<p> <%= skills2.title %> </p>
<p> <%= skills2.percent_utilized %> </p>
<% end %>
